@tailwind base;
@tailwind components;
@tailwind utilities;
/* Remove Default Margins and Padding */
body, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: white; /* Ensures full dark theme */
  }
  